<div class="row gx-5 p-5 gy-5">
  <div class="col-12 col-sm-6">
    <div class="">
      <h5>Assigned to me</h5>
      <div>
        <div>
          <ul *ngFor="let bug of bugList; let i = index">
            <li>{{ bug.type }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6">
    <div>
      <h5>Open tasks</h5>
      <div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6">
    <div>
      <h5>Accordion Item #3</h5>
      <div>
        <div></div>
      </div>
    </div>
  </div>
</div>
