<div class="wrapper">
  <nav class="navbar-expand-lg navbar-light">
    <h3>Bug Tracker</h3>
    <div class="collapse navbar-collapse" id="projectNavBar">
      <ul class="list-unstyled">
        <li><a class="nav-link">Board</a></li>
        <li><a class="nav-link">Reports</a></li>
        <li><a class="nav-link" [routerLink]="['bug-list']">Issues</a></li>
        <li><a class="nav-link">Code</a></li>
        <li><a class="nav-link">Releases</a></li>
        <li><a class="nav-link">Shortcuts</a></li>
        <li><a class="nav-link" [routerLink]="['settings']">Settings</a></li>
      </ul>
    </div>
  </nav>
</div>
