<div class="col mx-3">
  <table class="table table-bordered table-dark w-100">
    <thead>
      <tr>
        <th scope="col">Key</th>
        <th scope="col">Type</th>
        <th scope="col">Summary</th>
        <th scope="col">Assignee</th>
        <th scope="col">Reporter</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bug of bugList; let i = index">
        <th scope="row">{{ i }}</th>
        <td>{{ bug.type }}</td>
        <td>{{ bug.summary }}</td>
        <td>{{ bug.assignee }}</td>
        <td>{{ bug.reporter }}</td>
      </tr>
    </tbody>
  </table>
</div>
